<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".app.DebugStepArenaApplication"
        tools:replace="android:name">
        <receiver
            android:name=".debug.DebugFakeSensorReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lazyapps.steparena.debug.FAKE_SENSOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".repair.Phase7415RepairReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lazyapps.steparena.debug.PHASE_7_4_15_REPAIR" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
